# System junk
.DS_Store
.vscode

# Node junk
node_modules
npm-debug.log

# built files
css/*.css
js/*.js
images/*.svg
images/*.jpg
images/*.jpeg
images/*.png
images/*.gif
fonts/*.woff
fonts/*.woff2
fonts/*.eot
fonts/*.ttf
fonts/*.otf