<section class="hero">

	<div 
		class="hero__background"
		style="background-image: url({{ hero_image }})"
	>
		<div class="hero__overlay"></div>
		<header>
			<h1>{{ title }}</h1>
			{{ sub_title wrap="h2" }}
		</header>
		<div class="hero__meta">
			<div class="hero__avatar">
				<img 
					src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/48.jpg" 
					class="hero__author-portrait" 
					width="48" 
					height="48"
				>
			</div>
			<a  href="" 
				class="hero__author-name"
			>{{ author_name }}</a>
			<div class="hero__read-time">
				{{ content | read_time }} minute read
			</div>
			<div class="hero__date">
				{{ date format="F j, Y" }}
			</div>
		</div>
	</div>

	<article class="hero__article">
		{{ content | srcsets:150,480,768,960,1080,1440 | lazysizes }}
	</article>

</section>

{{ partial:article-footer }}