<section class="post">

	<header>
		<div class="post__meta">
			<div class="post__author">
				<img 
					src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/48.jpg" 
					class="post__author-portrait" 
					width="48" 
					height="48"
				/>
				<a  href="" 
					class="post__author-name"
				>{{ author_name }}</a>
				<span class="post__read-time">
					{{ content | read_time }} minute read
				</span>
			</div>
			<div class="post__date">
				{{ date format="F j, Y" }}
			</div>
		</div>
		<h1>{{ title }}</h1>
		{{ sub_title wrap="h2" }}
	</header>

	<article class="post__content">

		{{ if intro_image }}
			<p><img 
				src="{{ intro_image }}" 
				class="post__intro-image"
			/></p>
		{{ /if }}

		{{ content | srcsets:150,480,768,960,1080,1440 | lazysizes }}

		<ul class="post__tags">
			{{ tags }}
				<li><a href="{{ url }}">{{ title }}</a></li>
			{{ /tags }}
		</ul>
	</article>

</section>

{{ partial:article-footer }}
