<section class="page-contact">

    <header>
        <h1>Contact</h1>
    </header>

    <article class="page-contact__content">

        {{ content }}

        {{ form:create in="contact" }}

            {{ if errors }}
                <div class="alert alert--danger">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}

            {{ if success }}
                <div class="alert alert--success">
                    Form was submitted successfully.
                </div>
            {{ /if }}

            <Field
                label="Name"
                :input="{
                    type: 'input:text',
                    name: 'name',
                    value: '{{ old:name }}'
                }"
                class="page-contact__field"
            />

            <Field
                label="Email"
                :input="{
                    type: 'input:email',
                    name: 'email',
                    value: '{{ old:email }}'
                }"
                class="page-contact__field"
            />

            <Field
                label="Email"
                :input="{
                    type: 'textarea',
                    name: 'comment',
                    value: '{{ old:comment }}'
                }"
                class="page-contact__field"
            />

            <button 
                class="page-contact__send"
            >Send</button>

        {{ /form:create }}

    </article>

</section>
