<section class="search">
	<header>
		<h6>Search Results</h6>
		{{ partial:search }}
	</header>
	<article class="search__results">
		{{ search:results }}

			{{ if no_results }}
				No results.
			{{ else }}
				<div class="search__result">
					<a href="{{ url }}">
	
						{{ if intro_image or hero_image }}
							<img 
								src="{{ glide src='{ intro_image or hero_image }' square='140' fit='crop' }}" 
								width="140" 
								height="140" 
								class="small-image"
							/>
						{{ /if }}
	
						<h3>
							{{ title }}
						</h3>
	
						<p>
							{{ content strip_tags="img|a|p" safe_truncate="180|..." }}
						</p>
	
						<code>{{ url }}</code>
	
						<div class="meta">
							{{ if (date | days_ago) < 7 }}
								{{ date | relative }}
							{{ elseif (date | format:Y) == now | format:Y }}
								{{ date format="M j" }}
							{{ else }}
								{{ date format="M j, Y" }}
							{{ /if }}
						</div>
	
					</a>
				</div>
			{{ /if }}

		{{ /search:results }}
	</article>
</section>
