// Greys
$color-black: #000000;
$color-grey: #666;
$color-white: #fff;

// Brand
$color-primary: #f00;
$color-secondary: #0f0;
$color-tertiary: #00f;

// Helpful names
$color-text: $color-grey;
$color-title: $color-primary;

// Infos
$color-info: $color-grey;
$color-error: #FF2A2A;
$color-warning: #FFF572;
$color-success: #50E3C2;

// Type
$color-body: $color-text;

// Other
$color-body-bg: $color-white;