$gutter: 20px;

$gutter-small: $gutter*0.5;
$gutter-tiny: $gutter*0.25;
$gutter-micro: $gutter*0.125;

$gutter-large: $gutter*1.5;
$gutter-xl: $gutter*2;
$gutter-xxl: $gutter*2.5;
$gutter-xxxl: $gutter*3;
$gutter-xxxxl: $gutter*3.5;
$gutter-massive: $gutter*4;
$gutter-monster: $gutter*5;

$gutter-sides: $gutter-large;
$gutter-sides-mobile: $gutter;