/*
  Container
 */
$container-width-xlarge: 2000px;
$container-width-large: 1640px;
$container-width-medium: 1390px; // 1330px;
$container-width-small: 1060px;
$container-width-xsmall: 570px;

/*
  Border
*/
$border-radius: 6px;

/*
  Footer
*/
$footer-height: 260px;

/*
  Header
*/
$header-height: 70px;
$header-height-mobile: 55px;