<section class="login">

    <header>
        <h1>Login</h1>
    </header>

    <article class="content">

        {{ user:login_form redirect="/account" }}

            {{ if errors }}
                <div class="alert alert--danger">
                    {{ errors }}
                        {{ value }}<br>
                    {{ /errors }}
                </div>
            {{ /if }}

            <Field
                label="Username"
                :input="{
                    type: 'input:text',
                    name: 'username',
                    value: '{{ old:username }}'
                }"
                class="login__field"
            />
                
            <Field
                label="Password"
                :input="{
                    type: 'input:password',
                    name: 'password',
                    value: '{{ old:password }}'
                }"
                class="login__field"
            />

            <button class="login__login">
                Log in
            </button>

            <div class="login__forgot">
                <a href="/forgot-password">
                    Forgot password?
                </a>
            </div>

        {{ /user:login_form }}

    </article>

</section>
