<section class="password-reset">

    <header>
        <h1>Reset Password</h1>
        <h2>Try not to forget it this time.</h2>
    </header>

    <article class="password-reset__content">
        {{ user:reset_password_form }}

            {{ if success }}

                <p class="alert alert--success">Password has been reset.</p>

            {{ elseif url_invalid }}

                <p class="alert alert--danger">This reset URL is invalid.</p>

            {{ else }}

                {{ if errors }}
                    <div class="alert alert--danger">
                        {{ errors }}
                            {{ value }}<br>
                        {{ /errors }}
                    </div>
                {{ /if }}

                <Field
                    label="Password"
                    :input="{
                        type: 'input:password',
                        name: 'password',
                        value: '{{ old:password }}'
                    }"
                    class="password-reset__field"
                />

                <Field
                    label="Password Confirmation"
                    :input="{
                        type: 'input:password',
                        name: 'password_confirmation',
                        value: '{{ old:password }}'
                    }"
                    class="password-reset__field"
                />

                <button class="password-reset__reset">
                    Reset
                </button>

            {{ /if }}

        {{ /user:reset_password_form }}

    </article>

</section>
